@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div class="form">
        <div id="info"></div>
        <div class="input">
            <input type="text" id="usernameRed" placeholder="ElCapitan" />
        </div>
        <div class="input">
            <input type="text" id="emailReg" placeholder="email@mail.ru" />
        </div>

        <div class="input">
            <input type="password" id="passwordReg" placeholder="your passsword" />
        </div>

        <div class="input">
            <button id="tryReg">Регистрация</button>
            <a href="/">Авторизоваться</a>
        </div>


    </div>


</div>
