@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <div class="form">
        <div class="input">
            <input type="text" id="newTaskName" placeholder="Планы на выходные...." />
        </div>

        <div class="input">
            <textarea  id="newTaskDescription" placeholder="Магазин, Прогулка ..."> </textarea>
        </div>

        <div class="input">
           <button id="addTask">Добавить</button>
            
        </div>


        <div id="tasksCont" class="tasksCont">

        </div>

    </div>


    <script>
        fetch('/Task/all')
            .then(response => response.json())
            .then(data => {
                console.log(data)

                data.forEach(task => {
                    document.getElementById("tasksCont").innerHTML += `
                        <div class="task" id="task"+${task.id}>
                            <h2>${task.title}</h2>
                             <div>${task.description} </div>
                                             <button onClick="deleteTask(${task.id})">Удалить </button>
                        </div>
                    
                    `;
                });
            })
            .catch(error => {
                console.log(error)

            })



        document.getElementById("addTask").addEventListener("click", ()=>{
            let taskName = document.getElementById("newTaskName").value;
            let taskDesc = document.getElementById("newTaskDescription").value;
            let resp = JSON.stringify({
                "title": taskName,
                "description": taskDesc,
                "isCompleted": false
            });

            fetch("/Task/newTask", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: resp,
            })
            .then(response =>{
                    if (response.ok) {
                        window.location.href = "/StaticPages/Tasks"
                    }
            })


        
        
        })

        function deleteTask(id) {

            fetch("/Task/"+id, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
               
            })
                .then(response => {
                    if (response.ok) {
                        window.location.href = "/StaticPages/Tasks"
                    }
                })
           
        }

    </script>

</div>
